.menu {
    grid-column: 3/6;
    grid-row: 1/2;
    border: 10px solid #24f1ff;
    margin: 10px;
    background-color: white;
}

a {
    font-family: MinistryofMoron;
    grid-template-rows: 1fr 1fr 1fr;
    text-decoration: none;
    word-spacing: 2vw;
    padding: 20px;
}
@media screen and (max-width: 768px) {
    .menu {
        grid-column: 2/6;
        grid-row: 1/2;
    }
}
@media screen and (max-width: 417px) {
    .menu {
        grid-column: 2/6;
        grid-row: 1/2;
    }
}