
.credits {
 writing-mode: sideways-rl;
 color: #ff0000;
 grid-column: 6/7;
 grid-row: 2/4;
 font-size: 12px;
 background-color: white;
 text-orientation: mixed;
}
@media screen and (max-width: 1024px) {
  .credits {
    grid-column: 1/7;
    grid-row: 5/6;
  }
}
@media screen and (max-width: 417px) {
  .credits {
    grid-column: 1/7;
    grid-row: 5/6;
  }
}